#FILES
.DS_Store
.project
.classpath
.dbeaver-data-sources.xml
.tern-project
dbeaver-data-sources.xml
#DIRECTORIES
.metadata/
.recommenders/
.settings/
.Servers/
.settings/
.RemoteSystemsTempFiles/
RemoteSystemsTempFiles/
.recommenders/
.dbeaver/
target/
